<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.store.joeunit.order.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="org.store.joeunit.order.dto.OrderDto">
        <selectKey keyProperty="orderId" resultType="long" order="BEFORE">
            SELECT seq_orders.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO orders (
        order_id, member_id, total_price, discount_price, final_price,
        member_membership, order_status, receiver_name, receiver_phone,
        zipcode, address, detail_address, created_at
        ) VALUES (
        #{orderId}, #{memberId}, NVL(#{totalPrice}, 0),
        NVL(#{discountAmount}, 0), NVL(#{finalPrice}, 0),
        NVL(#{memberMembership}, 'BRONZE'), 'ORDER_COMPLETE',
        #{receiverName}, #{receiverPhone}, #{zipcode}, #{address}, #{detailAddress}, SYSDATE
        )
    </insert>

    <insert id="insertOrderItem">
        INSERT INTO order_item (
        order_item_id, order_id, product_id, product_name,
        order_price, quantity, item_total_price, created_at
        ) VALUES (
        seq_order_item.NEXTVAL,
        #{orderId},
        (SELECT MAX(product_id) FROM product WHERE product_name = #{productName}),
        #{productName},
        #{orderPrice},
        #{quantity},
        #{itemTotalPrice},
        SYSDATE
        )
    </insert>

    <delete id="deleteCartItemAfterOrder">
        DELETE FROM cart_item
        WHERE member_id = #{memberId}
        AND product_id = (SELECT MAX(product_id) FROM product WHERE product_name = #{productName})
    </delete>

    <select id="selectMyOrderList" resultType="org.store.joeunit.order.dto.OrderDto">
        SELECT o.order_id as orderId, o.member_membership as memberMembership, o.order_status as orderStatus
        FROM orders o WHERE o.member_id = #{memberId} ORDER BY o.created_at DESC
    </select>

    <select id="selectOrderDetail" resultType="org.store.joeunit.order.dto.OrderDto">
        SELECT * FROM orders WHERE order_id = #{orderId}
    </select>

    <select id="selectOrderItemsByOrderId" resultType="org.store.joeunit.order.dto.OrderItemDto">
        SELECT * FROM order_item WHERE order_id = #{orderId}
    </select>

    <update id="updateOrderStatusToCancel">
        UPDATE orders SET order_status = 'ORDER_CANCEL' WHERE order_id = #{orderId}
    </update>

    <delete id="deleteOrderItems">DELETE FROM order_item WHERE order_id = #{orderId}</delete>

    <delete id="deleteOrder">DELETE FROM orders WHERE order_id = #{orderId}</delete>

</mapper>