<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A 게시판</title>

    <link rel="stylesheet" href="../../static/css/board/liststyle.css">
</head>

<body>

<div class="container">

    <div class="board-title">
        <h1>Q&A 게시판</h1>
    </div>

    <!-- 검색 -->
    <div class="search-area">
        <select>
            <option>제목</option>
            <option>작성자</option>
            <option>내용</option>
        </select>

        <input type="text" placeholder="검색어를 입력하세요">

        <button>검색</button>
    </div>

    <div class="btn-area">
        <button class="btn-list" onclick="goList()">목록</button>

        <button class="btn-edit" onclick="goUpdate(1)">수정</button>

        <button class="btn-delete" onclick="deletePost()">삭제</button>
    </div>

    <!-- 게시판 -->
    <table class="board-table">

        <thead>
        <tr>
            <th width="8%">번호</th>
            <th>제목</th>
            <th width="12%">작성자</th>
            <th width="12%">작성일</th>
            <th width="8%">조회수</th>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td>1</td>
            <td class="title">
                <a href="/qna/view?id=1">상품 등록이 되지 않습니다.</a>
            </td>
            <td>홍길동</td>
            <td>2026-06-15</td>
            <td>120</td>
        </tr>

        <tr>
            <td>2</td>
            <td class="title">
                <a href="/qna/view?id=2">주문 수집 오류 문의</a>
            </td>
            <td>김철수</td>
            <td>2026-06-12</td>
            <td>95</td>
        </tr>
        <tr>
            <td>3</td>
            <td class="title">
                <a href="/qna/view?id=3">배송조회가 안됩니다.</a>
            </td>
            <td>이영희</td>
            <td>2026-06-10</td>
            <td>84</td>
        </tr>
        <tr>
            <td>4</td>
            <td class="title">
                <a href="/qna/view?id=2">로그인 오류 문의</a>
            </td>
            <td>관리자</td>
            <td>2025-02-09</td>
            <td>63</td>
        </tr>
        <tr>
            <td>5</td>
            <td class="title">
                <a href="/qna/view?id=2">API연동 방법 문의</a>
            </td>
            <td>박민수</td>
            <td>2026-06-10</td>
            <td>51</td>
        </tr>

        </tbody>

    </table>

    <div class="board-bottom">
        <button class="write-btn">글쓰기</button>
    </div>

    <!-- 페이지 -->
    <div class="pagination">
        <a href="#">&lt;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&gt;</a>
    </div>

</div>

<!-- JS 분리 -->
<script src="../../static/js/board/list.js"></script>

</body>
</html>